.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
Mnesia.nonode@nohost/

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# idea
.idea
.vscode

**/.DS_Store

# relx
_rel/

# erlang.mk
.erlang.mk/
